<div class="container-fluid container-fluid-custom mb-5">
    <div class="row py-md-5 text-center justify-content-center">
        <h1 class="display-3 fw-bold mb-4">About NoteBud</h1>
        <p class="fs-4 mb-4">
            Welcome to NoteBud - our Notes App, the perfect tool to help you capture, organize, and manage your thoughts, ideas, and important
            information. Whether you're a student, professional, or just someone who loves jotting down notes, our app is designed to 
            simplify your life and enhance your productivity.
        </p>
        <p class="fs-4 mb-4">
            We provide you with a seamless and intuitive platform to create, store, and access your notes anytime, anywhere. We
            understand the value of your thoughts and ideas, and we're dedicated to offering a secure and user-friendly environment
            where you can unleash your creativity and stay organized effortlessly.
        </p>
    </div>
</div>