<div class="container-fluid container-fluid-custom py-md-5">
    <div class="row py-md-5 text-center justify-content-center">
        <h1 class="display-4 fw-bold mb-3">
            Contact Us
        </h1>
        <p class="fs-6 mb-4">
            We value your input and are here to assist you. <br> 
            We're constantly working to improve and innovate, taking user feedback to heart <br> 
            to create a tool that truly aligns with your needs. 
        </p>
        <p class="fs-6 mb-4">
            If you have any questions, suggestions, or need support,<br> 
            please don't hesitate to reach out to our friendly customer service team at <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color:blue" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
            </svg> notebud.support@gmail.com
        </p>
        <p class="fs-6 mb-1">
            Thank you for choosing NoteBud to be your trusted companion in note-taking.<br>
            We look forward to helping you organize your ideas<br> 
            and make the most out of every note you take.
        </p>
    </div>
</div>