<div class="container-fluid container-fluid-custom mb-5">
    <div class="row py-md-5 text-center justify-content-center">
        <h1 class="display-3 fw-bold mb-4">Explore the Excellent Features of NoteBud</h1>
        <div class="row mb-4 mt-4">
            <div class="col-sm-3">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Effortless Note Creation</h5>
                        <p class="card-text">
                            Our app allows you to quickly create and edit notes with ease. Whether you're typing on a keyboard
                            or using a stylus, your note-taking experience will be smooth and enjoyable.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Instant Access to Recent Notes</h5>
                        <p class="card-text">
                            Stay up to date with your most recent thoughts and ideas. It automatically displays your latest
                            notes at the top of list, ensuring you never miss a thing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Search</h5>
                        <p class="card-text">
                            With our powerful search feature, you can locate specific notes with keywords or related phrases within
                            seconds, saving you time and frustration.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">Security Matters</h5>
                        <p class="card-text">
                            We take your privacy seriously. Your notes are encrypted and securely stored, giving you peace of
                            mind knowing your information is safe.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>